* {
  box-sizing: border-box;
}

.page {
  /* min-width: 1152px; */
  max-width: 1152px;
  margin: 0 auto;
  font-family: 'Nunito', Arial, sans-serif;
  color: #3e3f43;
  position: relative;
}

.container {
  max-width: 952px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 192px;
  height: 33px;
  margin-right: 115px;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.text {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: black;
}

.text_middle {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: normal;
  line-height: 49px;
}

.text_large {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
}

.text__span-accent {
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid #3e3f43;
  border-radius: 4px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.button_color_yellow {
  padding: 14px 24px;
  background-color: #daa520;
  border: none;
  line-height: 22px;
  font-size: initial;
  font-weight: bold;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 23px 80px;
  position: absolute;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  color: initial;
  padding: 0 24px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
}

.menu__link:hover {
  color: #daa520;
}

.menu__link_first {
  padding-left: 0;
}

.menu__link_active {
  color: #daa520;
  font-weight: 800;      
}

.intro {
  height: 1px;
  min-height: 800px;
}

.intro__content {
  display: flex;
  align-items: center;
  height: 100%;
}

.intro__description {
  width: 504px;
}

.intro__image {
  width: 568px;
  height: 577px;
  background-image: url(./../images/background-image/intro-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 165px;
  right: 0;
  z-index: -1;
}

.intro__figure {
  width: 370px;
  height: 100%;
  background-color: #f9bdbd;
  border-radius: 0 0 0 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}




