* {
  box-sizing: border-box;
}

.page {
  /* min-width: 1152px; */
  max-width: 1152px;
  margin: 0 auto;
  font-family: 'Nunito', Arial, sans-serif;
  color: #3e3f43;
  position: relative;
}

.section {
  margin-bottom: 120px;
  position: relative;
}

.section__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.section__title {
  margin: 0;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 0.1);
}

.section__subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;  
}

.section__content {
  display: flex;
  flex-wrap: wrap;
}

.section__content_column {
  flex-direction: column;
}

.section__content_center {
  justify-content: center;
}

.container {
  max-width: 952px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 192px;
  height: 33px;
  margin-right: 115px;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.description-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.description-block_reverse {
  flex-direction: row-reverse;
}

.description-block__image {
  min-width: 388px;
  min-height: 384px;
  position: relative;
}

.description-block__image_vertical {
  min-width: 287px;
  min-height: 384px;
}

.description-block__image_displaced {
  margin-right: -100px;
}

.description-block__image_background_figure {
  min-width: 426px;
  min-height: 388px;
}

.description-block__figure {
  width: 278px;
  height: 388px;
  border-radius: 0 120px 0 120px;
  background-color: #f7dea6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.image_size_contain {
  object-fit: contain;
}

.image_background_figure {
  width: 388px;
  height: 306px;
  top: initial;
  left: initial;
  right: 0;
  bottom: 0;
}

.description-block__text {
  flex-basis: 648px;
}

.description-block__text_small {
  flex-basis: 448px;
}

.text {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: black;
}

.text_middle {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: normal;
  line-height: 49px;
}

.text_large {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
}

.text__span-accent {
  font-weight: bold;
}

.text__span-large {
  font-weight: bold;
  text-transform: uppercase;
}

.process-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0 29px;
  margin: 64px 0;
}

.process-block__image {
  width: 120px;
  height: 120px;
  margin-bottom: 24px;
  position: relative;
}

.process-block__number {
  font-size: 96px;
  line-height: 63px;
  color: rgba(249, 189, 189, 0.25);
  transform: translateX(-65%);
  position: absolute;
  left: 0;
  bottom: 0;
}

.process-block__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: black;
}

.row {
  margin: 0 -28px;
}

.card {
  display: flex;
  width: 33.333333333333%;
  height: 400px;
  padding: 0 28px;
  margin-top: 40px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 24px 16px;
  border-radius: 0 100px 0 100px;
}

.card__content_color_pink {
  background-color: #f9bdbd;
}

.card__content_color_orange {
  background-color: #f7dea6;
}

.card__content_color_blue {
  background-color: #a8dcec;
}

.card__title {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.card__image {
  width: 100%;
  flex-basis: 250px;
  align-self: center;
  position: relative;
}

.title {
  display: inline-block;
  margin: 0;
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid #3e3f43;
  border-radius: 4px;
  color: #3e3f43;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.button_displaced {
  align-self: flex-end;
}

.button_color_yellow {
  padding: 14px 24px;
  background-color: #daa520;
  border: none;
  line-height: 22px;
  font-size: initial;
  font-weight: bold;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 23px 80px;
  position: absolute;
  z-index: 5;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  color: initial;
  padding: 0 24px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
}

.menu__link:hover {
  color: #daa520;
}

.menu__link_first {
  padding-left: 0;
}

.menu__link_active {
  color: #daa520;
  font-weight: 800;      
}

.intro {
  height: 1px;
  min-height: 800px;
}

.intro__content {
  display: flex;
  align-items: center;
  height: 100%;
}

.intro__description {
  width: 504px;
}

.intro__image {
  width: 568px;
  height: 577px;
  background-image: url(./../images/background-image/intro-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 165px;
  right: 0;
  z-index: -1;
}

.intro__figure {
  width: 370px;
  height: 100%;
  background-color: #f9bdbd;
  border-radius: 0 0 0 120px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}



